body {
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial;
}

header {
    padding: 15px;
    background-color: rgb(24, 129, 24);
    color: white;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin: 10px;
    color: black
}

nav {
    text-align: center;
    padding: 10px;
    background-color: #e2d0d0;
}

.profile {
    display: flex;
    flex-direction: row;
}

.profile img {
    width: 200px;
    border: solid black;
    border-width: 2px;
}

.profile p {
    margin-left: 10px;
}

.main-content {
    margin: 20px;
}

footer {
    text-align: center;
}